.clearfix {
*zoom:1
}
.clearfix:before, .clearfix:after {
	display:table;
	content:""
}
.clearfix:after {
	clear:both
}
.clearfix {
*zoom:1
}
.clearfix:before, .clearfix:after {
	display:table;
	content:""
}
.clearfix:after {
	clear:both
}
.fc {
	direction:ltr;
	text-align:left
}
.fc table {
	border-collapse:collapse;
	border-spacing:0
}
html .fc, .fc table {
	font-size:1em
}
.fc td, .fc th {
	padding:0;
	vertical-align:top
}
.fc-header td {
	white-space:nowrap
}
.fc-header-left {
	width:25%;
	text-align:left
}
.fc-header-center {
	text-align:center
}
.fc-header-right {
	width:25%;
	text-align:right
}
.fc-header-title {
	display:inline-block;
	vertical-align:top
}
.fc-header-title h2 {
	margin-top:0;
	white-space:nowrap
}
.fc .fc-header-space {
	padding-left:10px
}
.fc-header .fc-button {
	margin-bottom:1em;
	vertical-align:top
}
.fc-header .fc-button {
	margin-right:-1px
}
.fc-header .fc-corner-right {
	margin-right:1px
}
.fc-header .ui-corner-right {
	margin-right:0
}
.fc-header .fc-state-hover, .fc-header .ui-state-hover {
	z-index:2
}
.fc-header .fc-state-down {
	z-index:3
}
.fc-header .fc-state-active, .fc-header .ui-state-active {
	z-index:4
}
.fc-content {
	clear:both
}
.fc-view {
	width:100%;
	overflow:hidden
}
.fc-widget-header, .fc-widget-content {
	border:1px solid #ccc
}
.fc-state-highlight {
	background:#ffc
}
.fc-cell-overlay {
	background:#9cf;
	opacity:.2;
	filter:alpha(opacity=20)
}
.fc-button {
	position:relative;
	display:inline-block;
	cursor:pointer
}
.fc-state-default {
	border-style:solid;
	border-width:1px 0
}
.fc-button-inner {
	position:relative;
	float:left;
	overflow:hidden
}
.fc-state-default .fc-button-inner {
	border-style:solid;
	border-width:0 1px
}
.fc-button-content {
	position:relative;
	float:left;
	height:1.9em;
	line-height:1.9em;
	padding:0 .6em;
	white-space:nowrap
}
.fc-button-content .fc-icon-wrap {
	position:relative;
	float:left;
	top:50%
}
.fc-button-content .ui-icon {
	position:relative;
	float:left;
	margin-top:-50%;
*margin-top:0;
*top:-50%
}
.fc-state-default .fc-button-effect {
	position:absolute;
	top:50%;
	left:0
}
.fc-state-default .fc-button-effect span {
	position:absolute;
	top:-100px;
	left:0;
	width:500px;
	height:100px;
	border-width:100px 0 0 1px;
	border-style:solid;
	border-color:#fff;
	background:#444;
	opacity:.09;
	filter:alpha(opacity=9)
}
.fc-state-default, .fc-state-default .fc-button-inner {
	border-style:solid;
	border-color:#ccc #bbb #aaa;
	background:#F3F3F3;
	color:#000
}
.fc-state-hover, .fc-state-hover .fc-button-inner {
	border-color:#999
}
.fc-state-down, .fc-state-down .fc-button-inner {
	border-color:#555;
	background:#777
}
.fc-state-active, .fc-state-active .fc-button-inner {
	border-color:#555;
	background:#777;
	color:#fff
}
.fc-state-disabled, .fc-state-disabled .fc-button-inner {
	color:#999;
	border-color:#ddd
}
.fc-state-disabled {
	cursor:default
}
.fc-state-disabled .fc-button-effect {
	display:none
}
.fc-event {
	border-style:solid;
	border-width:0;
	font-size:.85em;
	cursor:default
}
a.fc-event, .fc-event-draggable {
	cursor:pointer
}
a.fc-event {
	text-decoration:none
}
.fc-rtl .fc-event {
	text-align:right
}
.fc-event-skin {
	border-color:#36c;
	background-color:#36c;
	color:#fff
}
.fc-event-inner {
	position:relative;
	width:100%;
	height:100%;
	border-style:solid;
	border-width:0;
	overflow:hidden
}
.fc-event-time, .fc-event-title {
	padding:0 1px
}
.fc .ui-resizable-handle {
	display:block;
	position:absolute;
	z-index:99999;
	overflow:hidden;
	font-size:300%;
	line-height:50%
}
.fc-event-hori {
	border-width:1px 0;
	margin-bottom:1px
}
.fc-event-hori .ui-resizable-e {
	top:0 !important;
	right:-3px !important;
	width:7px !important;
	height:100% !important;
	cursor:e-resize
}
.fc-event-hori .ui-resizable-w {
	top:0 !important;
	left:-3px !important;
	width:7px !important;
	height:100% !important;
	cursor:w-resize
}
.fc-event-hori .ui-resizable-handle {
	_padding-bottom:14px
}
.fc-corner-left {
	margin-left:1px
}
.fc-corner-left .fc-button-inner, .fc-corner-left .fc-event-inner {
	margin-left:-1px
}
.fc-corner-right {
	margin-right:1px
}
.fc-corner-right .fc-button-inner, .fc-corner-right .fc-event-inner {
	margin-right:-1px
}
.fc-corner-top {
	margin-top:1px
}
.fc-corner-top .fc-event-inner {
	margin-top:-1px
}
.fc-corner-bottom {
	margin-bottom:1px
}
.fc-corner-bottom .fc-event-inner {
	margin-bottom:-1px
}
.fc-corner-left .fc-event-inner {
	border-left-width:1px
}
.fc-corner-right .fc-event-inner {
	border-right-width:1px
}
.fc-corner-top .fc-event-inner {
	border-top-width:1px
}
.fc-corner-bottom .fc-event-inner {
	border-bottom-width:1px
}
table.fc-border-separate {
	border-collapse:separate
}
.fc-border-separate th, .fc-border-separate td {
	border-width:1px 0 0 1px
}
.fc-border-separate th.fc-last, .fc-border-separate td.fc-last {
	border-right-width:1px
}
.fc-border-separate tr.fc-last th, .fc-border-separate tr.fc-last td {
	border-bottom-width:1px
}
.fc-border-separate tbody tr.fc-first td, .fc-border-separate tbody tr.fc-first th {
	border-top-width:0
}
.fc-grid th {
	text-align:center
}
.fc-grid .fc-day-number {
	float:right;
	padding:0 2px
}
.fc-grid .fc-other-month .fc-day-number {
	opacity:0.3;
	filter:alpha(opacity=30)
}
.fc-grid .fc-day-content {
	clear:both;
	padding:2px 2px 1px
}
.fc-grid .fc-event-time {
	font-weight:bold
}
.fc-rtl .fc-grid .fc-day-number {
	float:left
}
.fc-rtl .fc-grid .fc-event-time {
	float:right
}
.fc-agenda table {
	border-collapse:separate
}
.fc-agenda-days th {
	text-align:center
}
.fc-agenda .fc-agenda-axis {
	width:50px;
	padding:0 4px;
	vertical-align:middle;
	text-align:right;
	white-space:nowrap;
	font-weight:normal
}
.fc-agenda .fc-day-content {
	padding:2px 2px 1px
}
.fc-agenda-days .fc-agenda-axis {
	border-right-width:1px
}
.fc-agenda-days .fc-col0 {
	border-left-width:0
}
.fc-agenda-allday th {
	border-width:0 1px
}
.fc-agenda-allday .fc-day-content {
	min-height:34px;
	_height:34px
}
.fc-agenda-divider-inner {
	height:2px;
	overflow:hidden
}
.fc-widget-header .fc-agenda-divider-inner {
	background:#eee
}
.fc-agenda-slots th {
	border-width:1px 1px 0
}
.fc-agenda-slots td {
	border-width:1px 0 0;
	background:none
}
.fc-agenda-slots td div {
	height:20px
}
.fc-agenda-slots tr.fc-slot0 th, .fc-agenda-slots tr.fc-slot0 td {
	border-top-width:0
}
.fc-agenda-slots tr.fc-minor th, .fc-agenda-slots tr.fc-minor td {
	border-top-style:dotted
}
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
*border-top-style:solid
}
.fc-event-vert {
	border-width:0 1px
}
.fc-event-vert .fc-event-head, .fc-event-vert .fc-event-content {
	position:relative;
	z-index:2;
	width:100%;
	overflow:hidden
}
.fc-event-vert .fc-event-time {
	white-space:nowrap;
	font-size:10px
}
.fc-event-vert .fc-event-bg {
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#fff;
	opacity:.3;
	filter:alpha(opacity=30)
}
.fc .ui-draggable-dragging .fc-event-bg, .fc-select-helper .fc-event-bg {
	display:none\9
}
.fc-event-vert .ui-resizable-s {
	bottom:0 !important;
	width:100% !important;
	height:8px !important;
	overflow:hidden !important;
	line-height:8px !important;
	font-size:11px !important;
	font-family:monospace;
	text-align:center;
	cursor:s-resize
}
.fc-agenda .ui-resizable-resizing {
	_overflow:hidden
}
.btn-cal, .cal-legend-item, .fc-button.fc-state-default, .fc-event-inner.fc-event-skin, .fc-event.event .fc-event-inner.fc-event-skin, .fc-event.busy .fc-event-inner.fc-event-skin, .fc-event.pending .fc-event-inner.fc-event-skin {
	display:inline-block;
*display:inline;
*zoom:1;
	padding:4px 10px 4px;
	margin-bottom:0;
	font-size:14px;
	line-height:20px;
	color:#424641;
	text-align:center;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align:middle;
	background-color:#fafafa;
	background-image:-moz-linear-gradient(top, #fff, #f4f4f4);
	background-image:-ms-linear-gradient(top, #fff, #f4f4f4);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f4f4f4));
	background-image:-webkit-linear-gradient(top, #fff, #f4f4f4);
	background-image:-o-linear-gradient(top, #fff, #f4f4f4);
	background-image:linear-gradient(top, #fff, #f4f4f4);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF4F4F4', GradientType=0);
	border-color:#f4f4f4 #f4f4f4 #cecece;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border:1px solid #dbdbdb;
	border-bottom-color:#c2c2c2;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor:pointer
}
.btn-cal:hover, .cal-legend-item:hover, .fc-button.fc-state-default:hover, .fc-event-inner.fc-event-skin:hover, .fc-event.event .fc-event-inner.fc-event-skin:hover, .fc-event.busy .fc-event-inner.fc-event-skin:hover, .fc-event.pending .fc-event-inner.fc-event-skin:hover, .btn-cal:active, .cal-legend-item:active, .fc-button.fc-state-default:active, .fc-event-inner.fc-event-skin:active, .fc-event.event .fc-event-inner.fc-event-skin:active, .fc-event.busy .fc-event-inner.fc-event-skin:active, .fc-event.pending .fc-event-inner.fc-event-skin:active, .btn-cal.active, .active.cal-legend-item, .active.fc-button.fc-state-default, .fc-button.fc-state-active, .active.fc-event-inner.fc-event-skin, .fc-event.event .active.fc-event-inner.fc-event-skin, .fc-event.busy .active.fc-event-inner.fc-event-skin, .fc-event.pending .active.fc-event-inner.fc-event-skin, .btn-cal.disabled, .disabled.cal-legend-item, .disabled.fc-button.fc-state-default, .fc-button.fc-state-disabled, .disabled.fc-event-inner.fc-event-skin, .fc-event.event .disabled.fc-event-inner.fc-event-skin, .fc-event.busy .disabled.fc-event-inner.fc-event-skin, .fc-event.pending .disabled.fc-event-inner.fc-event-skin, .btn-cal[disabled], [disabled].cal-legend-item, [disabled].fc-button.fc-state-default, [disabled].fc-event-inner.fc-event-skin, .fc-event.event [disabled].fc-event-inner.fc-event-skin, .fc-event.busy [disabled].fc-event-inner.fc-event-skin, .fc-event.pending [disabled].fc-event-inner.fc-event-skin {
	background-color:#f4f4f4
}
.btn-cal:active, .cal-legend-item:active, .fc-button.fc-state-default:active, .fc-event-inner.fc-event-skin:active, .fc-event.event .fc-event-inner.fc-event-skin:active, .fc-event.busy .fc-event-inner.fc-event-skin:active, .fc-event.pending .fc-event-inner.fc-event-skin:active, .btn-cal.active, .active.cal-legend-item, .active.fc-button.fc-state-default, .fc-button.fc-state-active, .active.fc-event-inner.fc-event-skin, .fc-event.event .active.fc-event-inner.fc-event-skin, .fc-event.busy .active.fc-event-inner.fc-event-skin, .fc-event.pending .active.fc-event-inner.fc-event-skin {
	background-color:#dbdbdb \9
}
.btn-cal.active, .active.cal-legend-item, .active.fc-button.fc-state-default, .fc-button.fc-state-active, .active.fc-event-inner.fc-event-skin, .fc-event.event .active.fc-event-inner.fc-event-skin, .fc-event.busy .active.fc-event-inner.fc-event-skin, .fc-event.pending .active.fc-event-inner.fc-event-skin, .btn-cal:active, .cal-legend-item:active, .fc-button.fc-state-default:active, .fc-event-inner.fc-event-skin:active, .fc-event.event .fc-event-inner.fc-event-skin:active, .fc-event.busy .fc-event-inner.fc-event-skin:active, .fc-event.pending .fc-event-inner.fc-event-skin:active {
	background-image:none;
	-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	background-color:#e6e6e6;
	background-color:#d9d9d9 \9;
	outline:0
}
.btn-cal.disabled, .disabled.cal-legend-item, .disabled.fc-button.fc-state-default, .fc-button.fc-state-disabled, .disabled.fc-event-inner.fc-event-skin, .fc-event.event .disabled.fc-event-inner.fc-event-skin, .fc-event.busy .disabled.fc-event-inner.fc-event-skin, .fc-event.pending .disabled.fc-event-inner.fc-event-skin, .btn-cal[disabled], [disabled].cal-legend-item, [disabled].fc-button.fc-state-default, [disabled].fc-event-inner.fc-event-skin, .fc-event.event [disabled].fc-event-inner.fc-event-skin, .fc-event.busy [disabled].fc-event-inner.fc-event-skin, .fc-event.pending [disabled].fc-event-inner.fc-event-skin {
	cursor:default;
	background-image:none;
	background-color:#e6e6e6;
	opacity:0.65;
	filter:alpha(opacity=65);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}
.cal-legend {
	overflow:auto;
	width:100%;
	margin-top:10px
}
.cal-legend-group {
	display:inline-block;
	min-width:80px
}
.cal-legend-item {
	height:16px;
	width:16px;
	font-size:12px;
	line-height:16px;
	padding:0;
	text-align:center;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	color:#fff;
	cursor:default;
	border:0
}
.cal-legend-item.cal-legend-default {
	background-color:#1a81af;
	background-image:-moz-linear-gradient(top, #1a81af, #1a81af);
	background-image:-ms-linear-gradient(top, #1a81af, #1a81af);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#1a81af), to(#1a81af));
	background-image:-webkit-linear-gradient(top, #1a81af, #1a81af);
	background-image:-o-linear-gradient(top, #1a81af, #1a81af);
	background-image:linear-gradient(top, #1a81af, #1a81af);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1A81AF', endColorstr='#FF1A81AF', GradientType=0);
	border-color:#1a81af #1a81af #10506d;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)
}
.cal-legend-item.cal-legend-default:hover, .cal-legend-item.cal-legend-default:active, .cal-legend-item.cal-legend-default.active, .cal-legend-item.cal-legend-default.disabled, .cal-legend-item.cal-legend-default[disabled] {
	background-color:#1a81af
}
.cal-legend-item.cal-legend-default:active, .cal-legend-item.cal-legend-default.active {
	background-color:#136083 \9
}
.cal-legend-item.cal-legend-event {
	background-color:#42b142;
	background-image:-moz-linear-gradient(top, #42b142, #42b142);
	background-image:-ms-linear-gradient(top, #42b142, #42b142);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#42b142), to(#42b142));
	background-image:-webkit-linear-gradient(top, #42b142, #42b142);
	background-image:-o-linear-gradient(top, #42b142, #42b142);
	background-image:linear-gradient(top, #42b142, #42b142);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF42B142', endColorstr='#FF42B142', GradientType=0);
	border-color:#42b142 #42b142 #2d792d;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)
}
.cal-legend-item.cal-legend-event:hover, .cal-legend-item.cal-legend-event:active, .cal-legend-item.cal-legend-event.active, .cal-legend-item.cal-legend-event.disabled, .cal-legend-item.cal-legend-event[disabled] {
	background-color:#42b142
}
.cal-legend-item.cal-legend-event:active, .cal-legend-item.cal-legend-event.active {
	background-color:#348c34 \9
}
.cal-legend-item.cal-legend-busy {
	background-color:#666;
	background-image:-moz-linear-gradient(top, #666, #666);
	background-image:-ms-linear-gradient(top, #666, #666);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#666), to(#666));
	background-image:-webkit-linear-gradient(top, #666, #666);
	background-image:-o-linear-gradient(top, #666, #666);
	background-image:linear-gradient(top, #666, #666);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF666666', endColorstr='#FF666666', GradientType=0);
	border-color:#666 #666 #404040;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)
}
.cal-legend-item.cal-legend-busy:hover, .cal-legend-item.cal-legend-busy:active, .cal-legend-item.cal-legend-busy.active, .cal-legend-item.cal-legend-busy.disabled, .cal-legend-item.cal-legend-busy[disabled] {
	background-color:#666
}
.cal-legend-item.cal-legend-busy:active, .cal-legend-item.cal-legend-busy.active {
	background-color:#4d4d4d \9
}
.cal-legend-item.cal-legend-pending {
	background-color:#fbb450;
	background-image:-moz-linear-gradient(top, #fbb450, #fbb450);
	background-image:-ms-linear-gradient(top, #fbb450, #fbb450);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#fbb450));
	background-image:-webkit-linear-gradient(top, #fbb450, #fbb450);
	background-image:-o-linear-gradient(top, #fbb450, #fbb450);
	background-image:linear-gradient(top, #fbb450, #fbb450);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBB450', endColorstr='#FFFBB450', GradientType=0);
	border-color:#fbb450 #fbb450 #f89406;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)
}
.cal-legend-item.cal-legend-pending:hover, .cal-legend-item.cal-legend-pending:active, .cal-legend-item.cal-legend-pending.active, .cal-legend-item.cal-legend-pending.disabled, .cal-legend-item.cal-legend-pending[disabled] {
	background-color:#fbb450
}
.cal-legend-item.cal-legend-pending:active, .cal-legend-item.cal-legend-pending.active {
	background-color:#fa9f1e \9
}
.fc-content {
	background-color:#fff
}
.fc-button.fc-state-default {
	position:relative;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}
.fc-event-time, .fc-event-title {
	color:#fafafa;
	text-shadow:1px 0 0 rgba(0, 0, 0, 0.5)
}
.fc-button.fc-state-disabled:active {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}
.fc-button.fc-corner-left {
	margin-left:0;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	border-top-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px
}
.fc-button.fc-corner-right {
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius:4px
}
.fc-state-default .fc-button-inner {
	background:transparent;
	border-width:0 0
}
.fc-button-content {
	line-height:20px;
	height:20px;
	padding:0 0
}
.fc-state-default .fc-button-effect span {
	background-color:#fafafa;
	background-image:-moz-linear-gradient(top, #fff, #f4f4f4);
	background-image:-ms-linear-gradient(top, #fff, #f4f4f4);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f4f4f4));
	background-image:-webkit-linear-gradient(top, #fff, #f4f4f4);
	background-image:-o-linear-gradient(top, #fff, #f4f4f4);
	background-image:linear-gradient(top, #fff, #f4f4f4);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF4F4F4', GradientType=0);
	border-color:#f4f4f4 #f4f4f4 #cecece;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)
}
.fc-state-default .fc-button-effect span:hover, .fc-state-default .fc-button-effect span:active, .fc-state-default .fc-button-effect span.active, .fc-state-default .fc-button-effect span.disabled, .fc-state-default .fc-button-effect span[disabled] {
	background-color:#f4f4f4
}
.fc-state-default .fc-button-effect span:active, .fc-state-default .fc-button-effect span.active {
	background-color:#dbdbdb \9
}
.fc-state-active .fc-button-inner {
	color:#424641
}
.fc-event-vert .fc-event-skin {
	background-color:#333
}
.fc-event-vert .fc-event-time {
	font-size:0.9em
}
.fc-event-skin {
	background-color:#fff;
	border-color:#fff
}
.fc-event.event .fc-event-inner.fc-event-skin, .fc-event-inner.fc-event-skin {
	padding:0;
	text-align:left
}
.fc-event-title {
	color:#fff;
	padding-left:8px;
	font-weight:italic
}
.fc-event {
	font-size:0.9em
}
.fc-event-inner.fc-event-skin {
	background-color:#187aa6;
	background-image:-moz-linear-gradient(top, #1a81af, #167199);
	background-image:-ms-linear-gradient(top, #1a81af, #167199);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#1a81af), to(#167199));
	background-image:-webkit-linear-gradient(top, #1a81af, #167199);
	background-image:-o-linear-gradient(top, #1a81af, #167199);
	background-image:linear-gradient(top, #1a81af, #167199);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1A81AF', endColorstr='#FF167199', GradientType=0);
	border-color:#167199 #167199 #0d4056;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)
}
.fc-event-inner.fc-event-skin:hover, .fc-event-inner.fc-event-skin:active, .fc-event-inner.fc-event-skin.active, .fc-event-inner.fc-event-skin.disabled, .fc-event-inner.fc-event-skin[disabled] {
	background-color:#167199
}
.fc-event-inner.fc-event-skin:active, .fc-event-inner.fc-event-skin.active {
	background-color:#10506d \9
}
.fc-event.event .fc-event-inner.fc-event-skin {
	background-color:#3fa93f;
	background-image:-moz-linear-gradient(top, #42b142, #3b9e3b);
	background-image:-ms-linear-gradient(top, #42b142, #3b9e3b);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#42b142), to(#3b9e3b));
	background-image:-webkit-linear-gradient(top, #42b142, #3b9e3b);
	background-image:-o-linear-gradient(top, #42b142, #3b9e3b);
	background-image:linear-gradient(top, #42b142, #3b9e3b);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF42B142', endColorstr='#FF3B9E3B', GradientType=0);
	border-color:#3b9e3b #3b9e3b #276627;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)
}
.fc-event.event .fc-event-inner.fc-event-skin:hover, .fc-event.event .fc-event-inner.fc-event-skin:active, .fc-event.event .fc-event-inner.fc-event-skin.active, .fc-event.event .fc-event-inner.fc-event-skin.disabled, .fc-event.event .fc-event-inner.fc-event-skin[disabled] {
	background-color:#3b9e3b
}
.fc-event.event .fc-event-inner.fc-event-skin:active, .fc-event.event .fc-event-inner.fc-event-skin.active {
	background-color:#2d792d \9
}
.fc-event.busy .fc-event-inner.fc-event-skin {
	background-color:#606060;
	background-image:-moz-linear-gradient(top, #666, #595959);
	background-image:-ms-linear-gradient(top, #666, #595959);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#666), to(#595959));
	background-image:-webkit-linear-gradient(top, #666, #595959);
	background-image:-o-linear-gradient(top, #666, #595959);
	background-image:linear-gradient(top, #666, #595959);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF666666', endColorstr='#FF595959', GradientType=0);
	border-color:#595959 #595959 #333;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	height:74px;
	padding:0
}
.fc-event.busy .fc-event-inner.fc-event-skin:hover, .fc-event.busy .fc-event-inner.fc-event-skin:active, .fc-event.busy .fc-event-inner.fc-event-skin.active, .fc-event.busy .fc-event-inner.fc-event-skin.disabled, .fc-event.busy .fc-event-inner.fc-event-skin[disabled] {
	background-color:#595959
}
.fc-event.busy .fc-event-inner.fc-event-skin:active, .fc-event.busy .fc-event-inner.fc-event-skin.active {
	background-color:#404040 \9
}
.fc-event.multiday .fc-event-inner.fc-event-skin {
	height:74px
}
.fc-event.pending .fc-event-inner.fc-event-skin {
	background-color:#f9a732;
	background-image:-moz-linear-gradient(top, #fbb450, #f89406);
	background-image:-ms-linear-gradient(top, #fbb450, #f89406);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
	background-image:-webkit-linear-gradient(top, #fbb450, #f89406);
	background-image:-o-linear-gradient(top, #fbb450, #f89406);
	background-image:linear-gradient(top, #fbb450, #f89406);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBB450', endColorstr='#FFF89406', GradientType=0);
	border-color:#f89406 #f89406 #ad6704;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	padding:0;
	text-align:left
}
.fc-event.pending .fc-event-inner.fc-event-skin:hover, .fc-event.pending .fc-event-inner.fc-event-skin:active, .fc-event.pending .fc-event-inner.fc-event-skin.active, .fc-event.pending .fc-event-inner.fc-event-skin.disabled, .fc-event.pending .fc-event-inner.fc-event-skin[disabled] {
	background-color:#f89406
}
.fc-event.pending .fc-event-inner.fc-event-skin:active, .fc-event.pending .fc-event-inner.fc-event-skin.active {
	background-color:#c67605 \9
}
.clearfix {
*zoom:1
}
.clearfix:before, .clearfix:after {
	display:table;
	content:""
}
.clearfix:after {
	clear:both
}
.booking-items tr td {
	border-top:1px solid #ddd
}
.booking-items tr:last-child td {
	border-bottom:1px solid #ddd
}
.booking-items td:first-child {
	border-left:1px solid #ddd
}
.booking-items td:last-child {
	border-right:1px solid #ddd
}
.booking-items tr:first-child td:first-child {
	-webkit-border-radius:6px 0 0 0;
	-moz-border-radius:6px 0 0 0;
	border-radius:6px 0 0 0
}
.booking-items tr:first-child td:last-child {
	-webkit-border-radius:0 6px 0 0;
	-moz-border-radius:0 6px 0 0;
	border-radius:0 6px 0 0
}
.booking-items tr:first-child td:only-child {
	-webkit-border-radius:6px 6px 0 0;
	-moz-border-radius:6px 6px 0 0;
	border-radius:6px 6px 0 0
}
.booking-items tr:last-child td:first-child {
	-webkit-border-radius:0 0 0 6px;
	-moz-border-radius:0 0 0 6px;
	border-radius:0 0 0 6px
}
.booking-items tr:last-child td:last-child {
	-webkit-border-radius:0 0 6px 0;
	-moz-border-radius:0 0 6px 0;
	border-radius:0 0 6px 0
}
.booking-items tr:last-child td:only-child {
	-webkit-border-radius:0 0 6px 6px;
	-moz-border-radius:0 0 6px 6px;
	border-radius:0 0 6px 6px
}
.booking-items tr:only-child td:first-child {
	-webkit-border-radius:6px 0 0 6px;
	-moz-border-radius:6px 0 0 6px;
	border-radius:6px 0 0 6px
}
.booking-items tr:only-child td:last-child {
	-webkit-border-radius:0 6px 6px 0;
	-moz-border-radius:0 6px 6px 0;
	border-radius:0 6px 6px 0
}
.booking-items tr:only-child td:only-child {
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px
}
.booking label {
	margin-bottom:0
}
.booking-time {
	font-size:16px;
	min-width:212px
}
.booking-time-1 {
	font-size:24px;
	padding:20px 0;
	border:1px solid #ddd;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	text-align:center
}
.booking input {
	text-align:center;
	margin-bottom:0
}
.booking .control-group {
	margin-bottom:0
}
.booking-input-quantity {
	width:68px;
	float:left
}
.booking .input-append .btn.dropdown-toggle {
	float:none;
	padding:4px 8px 4px 8px
}
.booking-table {
	border-collapse:separate;
	text-align:left;
	display:block
}
.booking-header {
	text-align:center;
	font-size:16px;
	width:165px;
	float:left;
	cursor:pointer
}
.booking-content {
	display:table;
	text-align:center;
	height:90px;
	width:258px;
	overflow:auto;
	overflow-x:hidden;
	margin-bottom:10px
}
.booking-items td {
	padding:10px 0 10px 22px
}
.booking-selected {
	background-color:#f7fbf9
}
.booking-busy {
	text-align:center;
	min-height:30px;
	line-height:30px;
	padding:0 10px
}
.booking-button-unavailable a, .booking-loading a {
	height:22px
}
.booking-content-inner {
	display:table-cell;
	vertical-align:middle
}
.booking-timepicker {
	text-align:left
}
.booking-time input[type="radio"] {
	margin-right:8px !important
}
.booking-button {
	font-size:20px
}
.booking-button i {
	margin-top:3px !important
}
ul.dropdown-menu li input[type="submit"] {
	color:#424641
}
.dropdown-menu input[type="submit"] {
	display:block;
	padding:3px 15px;
	clear:both;
	font-weight:normal;
	line-height:20px;
	color:#424641;
	white-space:nowrap;
	background-color:#fff;
	border:0;
	box-shadow:none;
	border-radius:0;
	width:100%;
	text-align:left
}
.dropdown-menu li > input[type="submit"]:hover {
	color:white;
	text-decoration:none;
	background-color:#000
}
.alert ul {
	margin-bottom:0
}
.nav-wizard .btn, .nav-wizard-toolbar .preview {
	color:#777
}
.nav-wizard .btn:first-child {
	border-left:1px solid #ddd
}
.nav-wizard .btn:last-child {
	border-right:1px solid #ddd
}
.nav-wizard .btn-group .btn-nav:last-child {
	border-left:1px;
	margin-left:0
}
.nav-wizard .btn-nav {
	border-right:0;
	border-left:0
}
.nav-wizard .btn {
	padding-left:15px;
	padding-right:15px;
	margin-left:-7px;
	height:18px
}
.nav-wizard .btn:last-child {
	padding-right:14px
}
.nav-wizard .btn.active:first-child, .nav-wizard .btn:active:first-child, .nav-wizard .btn.active:last-child, .nav-wizard .btn:active:last-child {
	-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
}
.nav-wizard .btn.active, .nav-wizard .btn:active {
	color:#111;
	-webkit-box-shadow:inset 0 2px 0 rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 2px 0 rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 2px 0 rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
}
.btn-group .btn:hover, .btn-group .btn:focus {
	z-index:0
}
.btn-group .btn.active {
	z-index:2
}
.btn-group .btn:active {
	z-index:3
}
.nav-divider-before {
	background-image:url(/images/button-group-divider.png);
	position:absolute;
	left:0px;
	top:0px;
	height:36px;
	width:7px
}
.nav-divider-after {
	background-image:url(/images/button-group-divider.png);
	position:absolute;
	right:0px;
	top:0px;
	height:36px;
	width:7px
}
.btn:active .nav-divider-before {
	background-image:url(/images/button-group-divider-first-active.png)
}
.active .nav-divider-before {
	background-image:url(/images/button-group-divider-first-active.png)
}
.btn:active .nav-divider-after {
	background-image:url(/images/button-group-divider-last-active.png)
}
.active .nav-divider-after {
	background-image:url(/images/button-group-divider-last-active.png)
}
.btn:active .nav-divider-before-prev-selected {
	background-image:url(/images/button-group-divider.png)
}
.btn:active .nav-divider-after-next-selected {
	background-image:url(/images/button-group-divider.png)
}
.thumbnail {
	display:block;
	position:relative;
	z-index:1
}
.hover-state {
	display:none;
	background:rgba(0, 0, 0, 0.3);
	width:100%;
	height:100%;
	z-index:2
}
.hover-top {
	position:absolute;
	left:0px;
	top:14px
}
.hover-bottom {
	position:absolute;
	right:12px;
	bottom:10px;
	min-height:22px
}
.hover-state span, .hover-state a {
	cursor:pointer;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding:5px 15px;
	margin-left:8px;
	background:rgba(255, 255, 255, 0.8);
	font-weight:bold;
	color:#333;
	z-index:1000
}
.hover-inner i {
	margin-top:1px;
	margin-left:5px
}
